@use "../abstract/" as *;
@use "../base/" as *;

.title{
    h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 200;
    }
    
}
.title2{
    h2{
    color: $clr--dark;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 2rem;
    }
    
}
.title3{
    h2{
    color: $clr--dark;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
    }
}